{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% block meta %}{% endblock meta %}
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
  </head>
  <body class="h-full min-h-screen m-0 bg-gradient-to-b from-[#eef3ff] via-[#f7f9ff] to-[#e6efff] text-slate-900">
    {% include 'navbar.html' %}
    {% block content %}

    {% endblock content %}
    {% include 'toast.html' %}
  </body>
</html>
